---
import NavLink from './NavLink.astro';
---

<nav>
	<div class="navbar border-t-[1.25px] border-zinc-200 bg-white md:border-b-[1.25px]">
		<div
			class="flex h-15 max-w-[1440px] items-center justify-center gap-x-2 leading-none tracking-tighter
				md:mx-auto md:gap-x-0"
		>
			<NavLink />
		</div>
	</div>
</nav>

<style>
	.navbar {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: calc(3.75rem + env(safe-area-inset-bottom));
		padding-bottom: env(safe-area-inset-bottom);
		z-index: 50;

		@media (width > 48rem) {
			position: sticky;
			top: 0;
			height: 3.75rem;
		}
	}
</style>
